*, *::before, *::after {
  box-sizing: border-box; }

.element-hidden {
  display: none; }

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px; }

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: calc(.8em + 1.2vw); }
  @media (min-width: 600px) {
    html, body {
      font-size: calc(.8em + .8vw); } }
  @media (min-width: 1000px) {
    html, body {
      font-size: calc(.8em + .5vw); } }

main {
  max-width: 860px;
  margin: 0 auto;
  padding: 1em; }

.summary {
  font-size: 1.6em;
  font-style: italic;
  opacity: .5;
  transition: opacity 2s ease-in-out; }
  .summary:hover {
    opacity: 1; }

.back {
  clear: both;
  display: block;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
  background: #eee;
  border: 2px solid #eee;
  border-radius: 5px;
  color: #444;
  text-decoration: none; }

.trip-list {
  perspective: 3000px; }
  .trip-list .teaser {
    transform-style: preserve-3d; }
  .trip-list .links {
    margin: 0;
    padding: 0; }
    .trip-list .links li {
      display: inline-block; }

.trip .links {
  padding: 1em;
  background: #eee;
  border-radius: 3px; }
  .trip .links p:first-of-type {
    margin-top: .5em; }
  .trip .links ul:last-of-type {
    margin-bottom: .5em; }

@media (min-width: 1100px) {
  .trip .links {
    float: left;
    width: 50%;
    margin-right: 1em;
    margin-left: -15%;
    margin-bottom: 1em; } }

.links a::before {
  display: inline-block;
  padding-right: 4px;
  font-size: 1.1em;
  transform: translate(0, 3px); }

.links .type-rest::before {
  content: '\1f3e0'; }

.links .type-eat::before {
  content: '\1f374'; }

.links .type-drink::before {
  content: '\1f37b'; }

.links .type-camp::before {
  content: '\26fa'; }

.links .type-outdoors::before {
  content: '\1f304'; }

.links .type-water::before {
  content: '\26f5'; }

.map {
  width: 100%;
  height: 0; }
  @media (min-width: 1100px) {
    .map {
      width: 130%;
      margin-left: -15%; } }
  .map.leaflet-container {
    padding-top: 50%; }
