@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box; }

.element-hidden {
  display: none; }

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px; }

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto; }

.clearfix:after, .gallery:after, .trip .story:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

p {
  line-height: 1.36; }

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help; }

abbr[lang] {
  font-style: italic; }

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: calc(.8em + 1.2vw); }
  @media (min-width: 600px) {
    html, body {
      font-size: calc(.8em + .8vw); } }
  @media (min-width: 1000px) {
    html, body {
      font-size: calc(.8em + .5vw); } }

body {
  overflow-x: hidden; }

main {
  max-width: 860px;
  margin: 0 auto;
  padding: 1em 1em 10em; }

img {
  max-width: 100%; }

.wf-oswald .title {
  font-family: Oswald, sans-serif; }

.wf-loading .title {
  letter-spacing: -3px; }

.subtitle {
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.5px;
  word-spacing: -1px; }
  .wf-oswald .subtitle {
    font-family: Oswald, sans-serif; }
  .wf-loading .subtitle {
    letter-spacing: -4px; }

.summary, .hello {
  clear: both;
  opacity: .5;
  transition: opacity 2s ease-in-out;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 300; }
  .wf-oswald .summary, .wf-oswald .hello {
    font-family: Oswald, sans-serif; }
  .wf-loading .summary, .wf-loading .hello {
    letter-spacing: -4px; }
  .summary:hover, .hello:hover {
    opacity: 1; }

.back {
  clear: both;
  display: block;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
  background: #eee;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  border-radius: 5px;
  color: #444;
  text-decoration: none;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1); }
  .back:hover {
    background-image: linear-gradient(to bottom, #fff, #d5d5d5); }
  .back:active,
  .back:focus {
    background-image: linear-gradient(to top, #fff, #eee); }

.the-end {
  margin: 1.25em 0;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 1em; }
  .the-end::after {
    content: '×××';
    speak: none; }

.front-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.front-nav a {
  display: block;
  float: left;
  width: 49%;
  height: 0;
  padding-top: 20%;
  padding-bottom: 29%;
  margin-right: 1%;
  background: #f7f7f7;
  background-image: linear-gradient(to bottom, #fafafa, #bbb);
  border-radius: 2%;
  box-shadow: inset 0 0 62px white, 0 0 1px 1px rgba(51, 51, 51, 0.1);
  color: #333;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
  transition: background-position 1s ease-in-out; }
  .wf-oswald .front-nav a {
    font-family: Oswald, sans-serif; }

.front-nav a:hover {
  background: #ddd;
  text-shadow: -1px -1px 1px #fff; }

.websites dd {
  margin: 0;
  margin-bottom: 1em; }

.gallery {
  margin: 1em 0;
  padding: 4%;
  background: #000;
  border-radius: 4px; }
  @media (min-width: 1100px) {
    .gallery {
      width: 140%;
      margin-left: -20%; } }
  .gallery figcaption {
    clear: both;
    padding-top: 1em;
    opacity: .6;
    color: #ddd;
    font-size: 80%;
    font-style: italic;
    text-align: center; }
    @media (min-width: 1100px) {
      .gallery figcaption {
        margin: 0 20%; } }
    .gallery figcaption em {
      white-space: nowrap; }

.photo {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.25s ease-in-out;
  z-index: 100; }
  .photo.contain {
    background-size: contain; }
  .photo.expanded {
    transform: scale(1.4); }

.tall .photo {
  float: left;
  width: 49%;
  padding-bottom: 33.333%;
  margin-bottom: 2%;
  margin-right: 0;
  margin-left: 2%; }

.tall .photo:first-of-type {
  margin-top: 0;
  margin-left: 0;
  padding-bottom: 104%;
  background-position: 25% 0; }

.tall .photo:nth-of-type(5) {
  clear: left;
  margin-left: 0; }

.tall .photo:last-of-type:not(:nth-of-type(even)) {
  width: 100%;
  background-position: 0 25%; }

.tall .photo.wide {
  float: none;
  clear: both;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-position: 0 calc(100% / 3); }

.tall .photo.wide ~ .photo:nth-of-type(odd) {
  margin-left: 0; }

.wide .photo {
  float: left;
  width: calc(96% / 3);
  padding-bottom: calc(100% / 3);
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 0; }

.wide .wide,
.wide .photo:first-of-type {
  float: none;
  clear: both;
  width: 100%;
  margin-right: 0;
  background-position: 0 calc(100% / 3); }

.wide .photo:first-of-type {
  margin-top: 0; }

.wide .photo:nth-of-type(3n+1) {
  margin-right: 0; }

.wide .photo:nth-of-type(3n+2):nth-last-of-type(2),
.wide .photo:nth-of-type(3n+2):nth-last-of-type(2) ~ .photo {
  width: 49%;
  margin-right: 2%; }

.wide .photo:nth-of-type(3n+2):nth-last-of-type(2) ~ .photo {
  margin-right: 0; }

.wide .photo:nth-of-type(3n+2):last-of-type {
  width: 100%;
  margin-right: 0;
  background-position: 0 25%; }

.trip-list .links {
  margin: 0;
  padding: 0; }
  .trip-list .links li {
    display: inline-block; }

.trip .title {
  float: left;
  margin-right: 1em; }

.trip .subtitle {
  float: right;
  vertical-align: text-bottom; }

.trip .story {
  margin-bottom: 1em; }

.trip .links {
  padding: 1em;
  background: #eee;
  border-radius: 5px; }
  @media (min-width: 1100px) {
    .trip .links {
      float: left;
      width: 50%;
      margin-right: 1em;
      margin-left: -15%; } }
  .trip .links p:first-of-type {
    margin-top: .5em; }
  .trip .links ul:last-of-type {
    margin-bottom: .5em; }

.links a::before {
  display: inline-block;
  padding-right: 4px;
  font-size: 1.1em;
  transform: translate(0, 3px); }

.links .type-rest::before {
  content: '\1f3e0'; }

.links .type-eat::before {
  content: '\1f374'; }

.links .type-drink::before {
  content: '\1f37b'; }

.links .type-camp::before {
  content: '\26fa'; }

.links .type-outdoors::before {
  content: '\1f304'; }

.links .type-water::before {
  content: '\01F6A3'; }

.links .type-inside::before {
  content: '\01F3B1'; }

.map {
  width: 100%;
  height: 0; }
  @media (min-width: 1100px) {
    .map {
      width: 130%;
      margin-left: -15%; } }
  .map.leaflet-container {
    padding-top: 50%; }

.dark body {
  background: #111;
  color: #ddd; }

.dark .summary, .dark .hello {
  opacity: .75; }

.dark :link {
  color: #69f; }

.dark :visited {
  color: #bdf; }

.dark :focus,
.dark :active {
  color: #fff; }

.dark .back {
  background: #444;
  background-image: linear-gradient(to bottom, #666, #222);
  border: 0;
  color: #000;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.15); }
  .dark .back:hover,
  .dark .back:focus {
    background-image: linear-gradient(to bottom, #777, #222); }
  .dark .back:active {
    background-image: linear-gradient(to top, #666, #444); }

.dark .photo {
  border: 1px solid rgba(255, 255, 255, 0.1); }
