# Ignore generated assets
_site
.publish
img
css
js
svg
_includes/main.min.css
_includes/_head.js
_includes/_ffo.js
/service-worker.js

# Development and test settings
_config.dev.yml

# Ignore asset caches
.jekyll-metadata
.jekyll-assets-cache
.sass-cache

# Ignore package manager stuff
.bundle
node_modules
npm-debug.log

# Ignore other stuff
.DS_Store
