# Ignore generated assets
_site
.publish
img
css/*min.css*
js
_includes/main.min.css
/service-worker.js
*.css.map

# Development and test settings
.env
_config.dev.yml

# Ignore new images during local development
_img

# Ignore asset caches
.jekyll-metadata
.jekyll-assets-cache
.sass-cache

# Ignore package manager stuff
.bundle
node_modules
npm-debug.log

# Ignore other stuff
.DS_Store

# Local Netlify folder
.netlify
