---
layout: null
permalink: /blog.xml
---
<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.name }}'s Blog</title>
    <link href="{{ site.url }}/blog.xml" rel="self" />
    <link href="{{ site.url }}" />
    <id>{{ site.url }}/</id>
    <subtitle>Chris Ruppel's blog — web developer and aspiring solarpunk.</subtitle>
    <updated>{{'now' | date: '%Y-%m-%dT%H:%M:%S+01:00'}}</updated>
    <author>
      <name>Chris Ruppel</name>
    </author>

    {% for post in collections.blog %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ site.url }}{{ post.url }}" />
      <id>{{ site.url }}{{ post.url }}</id>
      <summary>{% if post.data.summary %}{{ post.data.summary | escape }}{% else %}{{ post.data.title | escape }}{% endif %}</summary>
      <updated>{{ post.date | date: '%Y-%m-%dT%H:%M:%S+01:00' }}</updated>
      <content type="html">
        {{- post.content | escape | strip -}}
      </content>
    </entry>
    {% endfor %}
</feed>
