---
title: Howdy
permalink: /
bodyclass: page--front
---

<p class="hello intro p-role">
  I'm <strong>Chris Ruppel</strong>.<br>
  I'm a web <span class="p-category">developer</span> and <span class="p-category">traveler</span>.<br>
  I was last seen {% include last-seen.html %}.<br>
</p>

<nav class="front-nav">
  <ul>
    <li><a class="nav--travel" href="/travel/">On the Road</a></li>
    <li><a class="nav--blog" href="/blog/">On the Internet</a></li>
    <li><a class="nav--work" href="/work/">Hire Me!</a></li>
  </ul>
</nav>

<section aria-labelledby="blog">
  <h1 id="blog" class="title--main">Latest posts</h1>

  <div id="blog-list" class="blog-list" data-autoupdate="true">
    {% include blog-latest.html %}
  </div>
</section>
