---
title: Travel
permalink: /travel/
layout: page
---

<section aria-labelledby="travel">
  <h1 id="travel" class="title">Travel <a class="alt" href="/travel/list/">(see a list)</a></h1>

  <p class="intro summary">In 2015 and 2016, Karin and I are travelling the world.<br> Check out where we've been recently.</p>

  <div id="trip-list" class="trip-list">
    <!-- Load some initial content -->
    {% for trip in site.categories.travel limit:2 %}
      {% include gallery-list-item.html trip=trip site=site %}
    {% endfor %}

    <!-- The rest will come from JS using this template -->
    <template id="trip-list-lazyload">
      {% for trip in site.categories.travel offset:2 %}
        {% include gallery-list-item.html trip=trip site=site %}
      {% endfor %}
    </template>
  </div>

  <div class="go">
    <a class="btn btn--back" href="/">Back to the front</a>
  </div>
</section>
