---
title: Travel
permalink: /travel/
layout: page
---


<section aria-labelledby="travel-list" class="listing stack">
  <h1 id="travel-list" class="title--main title--page">Travel</h1>

  <div class="search">
    <input type="text" name="search" placeholder="search...">
    <p class="search__summary" id="search-summary">Showing all results.</p>
  </div>

  <div class="trip-list">
    {% for trip in collections.travel %}
      {% include 'trip-listing.html' %}
    {% endfor %}
  </div>

  <div class="go">
    <a class="btn btn--back" href="/">Back to the front</a>
  </div>
</section>
