---
title: Travel
permalink: /travel/
layout: page
---

<section aria-labelledby="travel">
  <h1 id="travel" class="title title--main">Travel</h1>
  <p class="intro summary">Just another travel blog. <small><a class="alt" href="{{ site.url }}/travel/list/">Browse without photos.</a></small></p>

  <div id="trip-list" class="trip-list">
    <!-- Load some initial content -->
    {% for trip in collections.travel limit:2 %}
      {% include 'gallery-list-item.html' %}
    {% endfor %}

    <!-- The rest will come from JS using this template -->
    <template id="trip-list-lazyload">
      {% for trip in collections.travel offset:2 %}
        {% include 'gallery-list-item.html' %}
      {% endfor %}
    </template>
  </div>

  <div class="go">
    <a class="btn btn--back" href="/">Back to the front</a>
  </div>
</section>
