---
title: Travel list
permalink: /travel/list/
layout: page
---


<section aria-labelledby="travel-list">
  <h1 id="travel-list" class="title title--page">Travel list</h1>
  <div class="elsewhere" aria-labelledby="Related content">
    <a class="alt" href="{{ site.url }}/travel/">(see pretty pictures)</a>
  </div>

  <p class="intro summary">Here are all the places I've been. Almost.</p>

  <div class="trip-list">
    {% for trip in site.categories.travel %}
      <article class="trip-title" data-url="{{ site.url }}{{ trip.url }}">
        <h2 class="title">
          <time datetime="{{ trip.date | date: "%Y-%m-%d" }}">{{ trip.date | date: "%b %d, %Y" }}</time>
          <a href="{{ trip.url }}">{{ trip.title }}</a>
          {% if trip.location %}<span class="where">in {% include location.html location=trip.location %}</span>{% endif %}
        </h2>
      </article>
    {% endfor %}
  </div>

  <div class="go">
    <a class="btn btn--back" href="/">Back to the front</a>
  </div>
</section>
