---
title: Travel list
permalink: /travel/list/
layout: page
---


<section aria-labelledby="travel-list">
  <h1 id="travel-list" class="title--main title--page">Travel list</h1>
  <p class="intro summary">Here are all the places I've been. Almost. <small><a class="alt" href="/travel/">Browse with photos.</a></small></p>

  <div class="trip-list">
    {% for trip in collections.travel %}
      {% include 'trip-listing.html' %}
    {% endfor %}
  </div>

  <div class="go">
    <a class="btn btn--back" href="/">Back to the front</a>
  </div>
</section>
