/**
 * Animations that need to be shared across components.
 */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes wiggle {
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(4deg) scale(1.03);
  }
  40% {
    transform: rotate(-4deg) scale(1.06);
  }
  50% {
    transform: rotate(6deg) scale(1.09);
  }
  60% {
    transform: rotate(-6deg) scale(1.12);
  }
  70% {
    transform: rotate(4deg) scale(1.09);
  }
  80% {
    transform: rotate(-4deg) scale(1.06);
  }
  90% {
    transform: rotate(2deg) scale(1.03);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce-left {
  33% {
    translate: -33.3%;
  }
}

@keyframes bounce-right {
  33% {
    translate: 33.3%;
  }
}

@keyframes bounce-up {
  33% {
    translate: 0 -25%;
  }
}

@keyframes bounce-down {
  33% {
    translate: 0 25%;
  }
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px /
                   350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px /
                   250px 750px 250px 750px;
  }
}
