html, body {
  height: 100%;
}

.layout {
  max-width: var(--layout-max);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
}

main,
.site-footer {
  padding: var(--flow-space);
}

@media (min-width: 1200px) {
  .layout {
    flex-flow: row nowrap;
    align-items: stretch;
  }
  main {
    flex: 1 1 100%;
  }
  .site-footer {
    order: -1;
    flex: 0 0 var(--footer-max);
  }
  .site-footer a {
    position: relative;
    z-index: 1;
  }
}
