/**
 * Status Messages
 *
 * @see _js/status.js
 */
#status {
  /* Anchor to bottom of screen and make full-bleed */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  /* Styles for showing/hiding. Default position is hidden */
  transform: translateY(300%);
  transition: transform .25s ease-in-out;

  /* Visual styles */
  background: #000d;
  backdrop-filter: blur(6px);
  color: #fff;
  text-shadow: 1px 1px 1px #000;

  /* Layout for inner content */
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 1rem;
}

/* Class to toggle whether status bar is on or off the screen. */
#status.is--displayed {
  transform: translateY(0);
}

/* Notification content. */
#message {
  flex: 1 0 auto;
  margin: 0;
}
