body {
  color: var(--color);
  background: var(--color-bg);
  font-family: var(--font-copy);
  font-size: 1.5rem;
  font-size: clamp(1.25rem, 2.5vw, 1.6875rem);
}


p {
  line-height: 1.4;
  max-width: var(--text-max);
}

strong {
  font-weight: 900;
}

em {
  font-style: italic;
}

/* classes just make the selector stronger without overdoing it */
.h-entry .layout a,
.h-entry .layout button {
  &:focus-visible {
    background: var(--color);
    color: var(--color-bg);
    border-color: var(--color-bg);
    outline: 2px solid var(--color);
    outline-offset: 0;
    text-shadow: none;
  }
}

/* Superscript shouldn't disrupt line-height */
sup {
  vertical-align: top;
}

/* Acronymns and abbreviations should indicate that the expanded meaning can be
seen by underlining, which will reveal title text on mouseover. */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

/* italicize any foreign-language abbreviations */
abbr[lang] {
  font-style: italic;
}

blockquote {
  font-style: italic;
  opacity: .8;
  margin-inline: 1em;
  padding-block: .1em;
  padding-inline: 1em;
  border-inline-start: 1em solid #ddd;
}

blockquote p + p {
  margin-block-start: .5em;
}


hr {
  --flow-space: 3rem;
  max-width: calc(var(--text-max) - 20ch);
  height: var(--hr-height);
  margin-block: var(--flow-space);
  margin-inline: 10ch;
  color: #888;
  border: 1px solid currentColor;
  border-width: 1px 0;
  position: relative;
  overflow: visible;

  /* Section symbol */
  &::after {
    content: '§';
    background: white;
    padding: 0 .4em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% + (var(--hr-height) / 2)));
  }
}


/**
 * Main content area.
 *
 * We want some defaults but not applied to header or footer.
 */
main {
  font-weight: 300;
}

main h1,
main h2,
main h3 {
  font-family: var(--font-heading);
}

main h1 {
  font-size: 1.75em;
}

main h2 {
  font-size: 1.5em;
}

main h2 {
  font-size: 1.25em;
}

main h4 {
  font-weight: 200;
  font-style: italic;
  border-radius: 1em / 4em;
  border-left: 1.5rem solid rgba(#f82, .8);
  padding-left: .5rem;
}

main h5 {
  font-size: 1em;
}

main h6 {
  font-size: .9em;
}

ul:not([class],[role]) li,
ol:not([class],[role]) li {
  line-height: 1.2;
  font-size: 95%;
  margin-right: 5%;
  margin-bottom: 1.5%;
}

/* Updates/corrections to content */
main ins.update {
  font-size: .9em;
  font-style: italic;
  color: #444;
  text-decoration: none;

  &::before {
    content: "Update " attr(datetime) ": ";
    font-weight: 500;
    color: black;
  }
}

/* Subdue stricken text */
main del {
  display: inline-block;
  text-decoration: none;
  opacity: .5;
  transition: opacity .2s ease-in-out;
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    bottom: .55em;
    left: 0;
    right: 0;
    border-bottom: 1px solid #000;
    transition: transform .2s ease-in-out;
  }
}

/* Highlight inserted text after deletions */
del + .oops {
  display: inline-block;
  opacity: .8;

  /* positioning */
  margin-right: -.2em; /* compensate for the nudging we're about to do. */
  transition: .2s ease-in-out;
  transition-property: color, opacity, transform;
  perspective: 600px;
  transform-style: preserve-3d;
  transform: translateX(-.2em) translateY(-.06em) rotateZ(-4deg);

  /* typography (no effect on positioning) */
  text-decoration: none;
  color: #111;
}

/* Default styles for code blocks. The syntax highlighter will override most
of this once it has run. The selector is designed to work with prism.js */
main :not(pre) > code {
  display: inline-block;
  padding: 0 .2em;
  border-radius: .2em;
  background: #ddd;
  font-size: .8em;
  font-weight: 400;
}

main aside.note {
  font-size: .8em;
  margin: 0 1em;
  font-style: italic;
  opacity: .9;

  @media (min-width: 1147px) {
    margin: 0 3em;
  }
}

main aside.info {
  font-style: italic;
  font-weight: 200;
  padding: .2em 5%;
  background-color: rgba(#79f, .4);
  border-radius: 7px;

  @media (min-width: 1147px) {
    width: 110%;
    margin-left: -5%; /* match L/R padding above */
  }
}

main aside.warning {
  font-style: italic;
  font-weight: 200;
  padding: .2em 5%;
  background-color: rgba(#fd0, .4);
  border-radius: 7px;

  @media (min-width: 1147px) {
    width: 110%;
    margin-left: -5%; /* match L/R padding above */

    > p::before {
      content: '⚠ ';
    }
  }
}
