{% comment %}
  The calendar is calculated before the heading because eventually I'd like to
  automatically generate the emphasized word by comparing the time of generation
  to the first slot with availability. So it would generate now/soon/whenever on
  its own without me having to keep up with it.
{% endcomment %}

{% capture calendar %}
  {% for slot in site.categories.calendar reversed %}
    {% capture nowunix %}{{ 'now' | date: '%s' }}{% endcapture %}
    {% capture slottime %}{{ slot.date | date: '%s' }}{% endcapture %}
    {% if slottime < nowunix %}
      <li class="past-slot">{{ slot.date | date: '%b' }}<br></li>
    {% else if slottime > nowunix %}
      <li
        class="{{ slot.status }}-slot{% if slot.status != 'full' %} available{% endif %}"
        title="{{ slot.date | date: '%b %Y' }}: {{ slot.status }}"
      >{{ slot.date | date: '%b' }}<br></li>
    {% endif %}
  {% endfor %}
{% endcapture %}

<h2 class="intro summary">I'm available for hire <strong>soon</strong></h2>

<ul class="availability">
  {{ calendar }}
</ul>