{% comment %}
  The calendar is calculated before any output so I can automatically put my
  next availability in the header. If by some crazy chance there's none left
  for the whole year, it falls back to outputting "soon"
{% endcomment %}
{% capture first_availability %}soon{% endcapture %}

{% capture calendar %}
  {% for slot in collections.calendar reversed %}
    {% capture nowunix %}{{ 'now' | date: '%s' }}{% endcapture %}
    {% capture slottime %}{{ slot.date | date: '%s' }}{% endcapture %}
    {% if slottime < nowunix %}
      <li class="slot slot--past" data-label="{{ slot.date | date: '%b' }}">
        <span class="visually-hidden">{{ slot.date | date: '%B' }}: {{ slot.data.status }}</span>
      </li>
    {% else if slottime > nowunix %}
      {% comment %}
        Output one entry for each Calendar post.
      {% endcomment %}
      <li
        class="slot slot--{{ slot.data.status }}{% if slot.data.status != 'full' %} slot--available{% endif %}"
        title="{{ slot.date | date: '%b %Y' }}: {{ slot.data.status }}"
        data-label="{{ slot.date | date: '%b' }}"
      >
        <span class="visually-hidden">{{ slot.date | date: '%B' }}: {{ slot.data.status }}</span>
      </li>
      {% comment %}
        Store first month of availability for output within heading.
      {% endcomment %}
      {% if slot.data.status != 'full' and first_availability == 'soon' %}{% capture first_availability %}in <strong class="availability__date">{{ slot.date | date: '%B' }}</strong>{% endcapture %}{% endif %}
    {% endif %}
  {% endfor %}
{% endcapture %}

<h2 class="intro summary">I'm available for hire {{ first_availability }}</h2>
<ul class="availability">
  {{ calendar }}
</ul>