<div id="disqus_thread"></div>
<script>
function loadDisqus(e) {
  {% if site.development == true %}
  // Developer mode
  var disqus_developer = 1;
  {% endif %}

  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
   */
  var disqus_config = function () {
    this.page.url = "{{ site.url }}{{ page.url }}";
    this.page.identifier = "{{ page.url }}";
  };
  (function() {  // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//rupl.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

  // Remove comment link
  var comment_link = document.querySelector('#comments-link');
  comment_link.parentNode.removeChild(comment_link);

  e.preventDefault();
}
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- Comment count script -->
<script id="dsq-count-scr" src="//rupl.disqus.com/count.js" async></script>
