{% capture filed %}
  <a rel="author" class="p-author h-card" href="{{ site.url }}/about/">Chris</a> filed this <strong class="p-category">{{ include.categories }}</strong> entry
  {% if page.category == 'blog' %}
    on <time class="dt-published" datetime="{{ page.date | date: '%Y-%m-%d 12:00:00' }}">{{ page.date | date: '%B %d, %Y' }}</time>
  {% endif %}
  {% if include.tags.size > 0 %}
    under
    <span class="tags">
      {% for tag in include.tags %}
        <a rel="tag" class="p-category" href="/{{ page.category }}/tags/{{ tag | replace: ' ','-' | downcase }}/">{{ tag | downcase }}</a>
      {% endfor %}
    </span>
  {% endif %}
{% endcapture %}

<p class="filed">
  {{ filed | strip_newlines }}
</p>
