<article class="trip--teaser teaser--gallery{% if trip.data.quote.text %} teaser--quote{% endif %}" id="{{ trip.date | date: '%Y-%m-%d' }}-{{ trip.url | replace: '/travel/','' | replace: '/','' }}">
  <h2 class="title--main">
    <time datetime="{{ trip.date | date: '%Y-%m-%d' }}">{{ trip.date | date: "%b %d, %Y" }}</time>
    <a rel="bookmark" href="{{ trip.url }}">{{ trip.data.title }}</a>
    {% if trip.data.location %}<span class="where">{% include 'location.html', location: trip.data.location %}</span>{% endif %}
  </h2>

  {% if trip.data.summary %}
    <p class="summary">{{ trip.data.summary }}</p>
  {% endif %}

  {% if trip.data.quote %}
    {% include 'quote.html', quote: trip.data.quote %}
  {% endif %}

  {% if trip.data.gallery %}
    {% include 'gallery.html', gallery: trip.data.gallery %}
  {% endif %}
</article>