{% if include.gallery.size > 0 %}
<figure class="gallery {% if include.gallery[0].type != null %} {{ include.gallery[0].type }}{% else %} tall{% endif %}">
  {% for item in include.gallery %}
    {% if item.src != null %}
      {% capture imgsrc %}/img/travel@32/{{ item.src }}{% endcapture %}
      <span class="photo{% if item.bgsize == 'contain' %} contain{% endif %}{% if item.type != null %} {{ item.type }}{% endif %}"
            style="background-image: url({{ imgsrc }}); {% if item.bgpos != null %}background-position: {{ item.bgpos }};{% endif %} {% if item.bgpad != null %}padding-bottom: {{ item.bgpad }}; {% endif %}"
            title="{{ item.comment | escape }}">
        <img src="/img/travel/{{ item.src }}"
             alt="{{ item.alt | escape }}"
             class="element-invisible">
      </span>
    {% endif %}
    {% if item.caption != null %}
      <figcaption>{{ item.caption }}</figcaption>
    {% endif %}
  {% endfor %}
</figure>
{% endif %}
