<article class="trip--teaser teaser--gallery{% if include.trip.quote.text %} teaser--quote{% endif %}" id="{{ include.trip.path | replace: 'travel/_posts/','' | replace: '.md','' }}">
  <h2 class="title--main">
    <time datetime="{{ include.trip.date | date: '%Y-%m-%d' }}">{{ include.trip.date | date: "%b %d, %Y" }}</time>
    <a rel="bookmark" href="{{ site.url }}{{ include.trip.url }}">{{ include.trip.title }}</a>
    {% if include.trip.location %}<span class="where">{% include location.html location=include.trip.location %}</span>{% endif %}
  </h2>

  {% if include.trip.summary %}
    <p class="summary">{{ include.trip.summary }}</p>
  {% endif %}

  {% if include.trip.quote %}
    {% include quote.html quote=include.trip.quote %}
  {% endif %}

  {% include gallery.html gallery=include.trip.gallery %}
</article>
