{%- if gallery.size > 0 -%}
<figure class="gallery {% if gallery[0].type != null %}{{ gallery[0].type }}{%- else -%}{% if gallery[0].gridtype %} grid-{{ gallery[0].gridtype }}{% else %} grid-tall{% endif %}{% endif -%}">
  {%- for item in gallery -%}
    {%- if item.src != null -%}
      {% capture filename %}{{ item.src | split: '.' | first }}{% endcapture %}

      {%- capture webp_320  %}{{ site.img-host }}/img/img@320/{{ filename }}.webp{% endcapture -%}
      {%- capture webp_640  %}{{ site.img-host }}/img/img@640/{{ filename }}.webp{% endcapture -%}
      {%- capture webp_960  %}{{ site.img-host }}/img/img@960/{{ filename }}.webp{% endcapture -%}
      {%- capture webp_1280 %}{{ site.img-host }}/img/img@1280/{{ filename }}.webp{% endcapture -%}

      {%- capture jpeg_320  %}{{ site.img-host }}/img/img@320/{{ filename }}.jpeg{% endcapture -%}
      {%- capture jpeg_640  %}{{ site.img-host }}/img/img@640/{{ filename }}.jpeg{% endcapture -%}
      {%- capture jpeg_960  %}{{ site.img-host }}/img/img@960/{{ filename }}.jpeg{% endcapture -%}
      {%- capture jpeg_1280 %}{{ site.img-host }}/img/img@1280/{{ filename }}.jpeg{% endcapture -%}

      {%- comment -%}
        Image sizes are somewhat complicated to determine, but since we generate
        HTML from the gallery YML we have most of the info we need to dynamically
        determine how wide each image is at any window size.

        Things that might drift out of sync and need to be checked periodically:
        - Gallery breakpoints. What window sizes cause galleries to be linear
          instead of "tiled" sets of images?
      {%- endcomment -%}
      {%- capture sizes_small %}calc(100vw - 4% - 1em){%- endcapture -%}
      {%- capture sizes_big -%}(min-width: 500px) {% if item.type contains "wide" or item.type contains "tall" or item.type contains "two-third" -%}
          {%- comment -%}
            When the image is wide, it always takes up the full width no matter
            what layout or breakpoint we're at. Force it to be the full width.

            Tall images make a bit of a fib and claim to be full width, since
            they are 2x/3x the height of a normal image and will be presented
            much larger on the page.

            Two-third is the same deal. It takes up more room and should default
            to higher-res, so fibbing and calling it wide suits our needs.

            Formula: 100vw - <main>-padding - gallery_padding - photo-margin
          {%- endcomment -%}
          calc(100vw - 2em - 8% - 2%)
        {%- elsif item.type contains "half" -%}
          {%- comment -%}
            Similar to wide, when image is half size, we know how much space it
            takes up on larger breakpoints without looking at gallery type.

            Formula: 50vw - <main>-padding - gallery_padding - photo-margins
          {%- endcomment -%}
          calc(50vw - 2em - 8% - 4%)
        {%- else -%}
          {%- comment -%}
            If its size is unspecified, check the gallery type to see how wide
            the image is.
          {%- endcomment -%}
          {%- case gallery[0].gridtype -%}
            {%- when "col-3" -%}
              30vw
            {%- when "col-2" or "col-2-short" or "tall" -%}
              40vw
          {%- endcase -%}
        {%- endif -%}
      {%- endcapture -%}
      <picture class="photo {% if item.type != null %}{{ item.type }}{%- endif -%}"
        {%- if item.comment %} data-comment="{{ item.comment | escape }}" {% endif -%}
        style="{%- if item.bgpad != null -%}padding-bottom: {{ item.bgpad }};{%- endif -%}
               {%- if item.width -%}width: {{ item.width }};{%- endif -%}">
        <source
          type="image/webp"
          srcset="{{ webp_320 }} 320w, {{ webp_640 }} 640w, {{ webp_960 }} 960w, {{ webp_1280 }} 1280w"
          sizes="{{ sizes_big }}, {{ sizes_small }}">
        <source
          srcset="{{ jpeg_320 }} 320w, {{ jpeg_640 }} 640w, {{ jpeg_960 }} 960w, {{ jpeg_1280 }} 1280w"
          sizes="{{ sizes_big }}, {{ sizes_small }}">
        <img alt="{{ item.alt | escape }}"
          src="{{ jpeg_1280 }}"
          style="{%- if item.bgpos != null -%}object-position: {{ item.bgpos }};{%- endif -%}">
      </picture>
    {%- endif -%}
    {%- if item.caption != null -%}
      <figcaption>{{ item.caption }}</figcaption>
    {%- endif -%}
  {%- endfor -%}
</figure>
{%- endif -%}