<article class="teaser{% if trip.quote.text %} quote{% endif %}" id="{{ trip.path | replace: '_posts/travel/','' | replace: '.md','' }}">
  <h2 class="title">
    <time datetime="{{ trip.date | date: "%Y-%m-%d" }}">{{ trip.date | date: "%b %d, %Y" }}</time>
    <a rel="bookmark" href="{{ site.url }}{{ trip.url }}">{{ trip.title }}</a>
    {% if trip.location %}<span class="where">{% include location.html location=trip.location %}</span>{% endif %}
  </h2>

  {% if trip.summary %}
    <p class="summary">{{ trip.summary }}</p>
  {% endif %}

  {% if trip.quote %}
    {% include quote.html quote=trip.quote %}
  {% endif %}

  {% include gallery.html gallery=trip.gallery %}
</article>
