{% comment %}
  The spaces preceding each clause in the first conditional block are there
  mainly because my editorconfig strips trailing whitespace, and the only other
  way I knew how to force the space was with &nbsp; at the end of each output.
{% endcomment %}
{% capture location_full %}
{% if prep != null %}
  {{ prep }}
 {% elsif prep == null and location.prep != null %}
  {{ location.prep }}
 {% else %}
  in
 {% endif %}

{% if location.locality %}
{{ location.locality }}{% if location.region or location.country %}, {% endif %}
{% endif %}
{% if location.region %}
{{ location.region }}{% if location.country %}, {% endif %}
{% endif %}
{% if location.country %}{{ location.country }}{% endif %}
{% if location.locality == null and location.region == null and location.country == null and location.place %}{{ location.place }}{% endif %}
{% endcapture %}{{ location_full | strip_newlines | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' }}