{% capture location_full %}
{% if include.location.prep %}{{ include.location.prep }} {% else %}in {% endif %}
{% if include.location.locality %}
{{ include.location.locality }}{% if include.location.region or include.location.country %}, {% endif %}
{% endif %}
{% if include.location.region %}
{{ include.location.region }}{% if include.location.country %}, {% endif %}
{% endif %}
{% if include.location.country %}{{ include.location.country }}{% endif %}
{% if include.location.locality == null and include.location.region == null and include.location.country == null and include.location.place %}{{ include.location.place }}{% endif %}
{% endcapture %}{{ location_full | strip_newlines | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' }}