{% include map-include.html %}

<!-- mapbox container -->
<div id="map" class="map"></div>

<!-- mapbox init -->
<script>
  var geojson = {% include maps/{{ page.map.json }} %};

  // TODO: scan the data for the LineString instead of looking in the first
  // array item. Sometimes it's a marker.
  var mapStart = [
    geojson.features[0].geometry.geometries[0].coordinates[0][0],
    geojson.features[0].geometry.geometries[0].coordinates[0][1],
  ];
  var zoomStart = {{ page.map.zoom | default: 12 }};

  // Initialize map.
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/{{ page.map.style | default: 'streets-v11' }}',
    center: mapStart,
    zoom: zoomStart,
  });

  // Do anything else here.
  map.on('load', function () {
    // @see https://docs.mapbox.com/mapbox-gl-js/example/zoomto-linestring/
    map.addSource('LineString', {
      'type': 'geojson',
      'data': geojson,
    });

    map.addLayer({
      'id': 'LineString',
      'type': 'line',
      'source': 'LineString',
      'layout': {
        'line-join': 'round',
        'line-cap': 'round',
      },
      'paint': {
        'line-color': '#36f',
        'line-width': 5,
      },
    });

    //
    // Zoom to GeoJSON bounds
    //
    // TODO: figure out how to pull this generically out of the files.
    //
    var coordinates = geojson.features[0].geometry.geometries[0].coordinates;
    var boundsPadding = window.innerWidth > 600 ? 50 : 20;

    // Pass the first coordinates in the LineString to `lngLatBounds` &
    // wrap each coordinate pair in `extend` to include them in the bounds
    // result. A variation of this technique could be applied to zooming
    // to the bounds of multiple Points or Polygon geomteries - it just
    // requires wrapping all the coordinates with the extend method.
    var bounds = coordinates.reduce(
      function (bounds, coord) {
        return bounds.extend(coord);
      },
      new mapboxgl.LngLatBounds(coordinates[0], coordinates[0])
    );
    map.fitBounds(bounds, {
      padding: boundsPadding,
    });

    //
    // resize map when window gets resized
    //
    window.addEventListener('resize', function () {
      debounce(map.resize());
    });
  });

</script>