<aside id="webmentions" class="webmentions stack" aria-labelledby="webmentions-heading">
  <h2 id="webmentions-heading">Web mentions</h2>
  <p class="webmentions__explainer">Did you link here from your site? Submit your URL. <a href="https://indieweb.org/Webmention">Learn more.</a></p>

  <form method="POST" action="{{ site.webmention-url }}" class="webmentions__form">
    <input type="hidden" name="target" value="{{ site.url }}{{ page.url }}">
    <label for="wm-url" class="visually-hidden">URL</label>
    <input id="wm-url" type="url" name="source" placeholder="example.com" required class="webmentions__url"><!--
    --><input type="submit" value="Send Mention" class="webmentions__submit">
    <div class="webmentions__message" aria-live="polite"></div>
  </form>

  <div class="webmentions__list stack">
    <h3>Mentioned by</h3>
    {% assign wmFound = false %}
    <ul aria-label="Web mentions" role="list">
    {% for mention in webmentions %}
      {%- if mention.wm-target contains page.url -%}
        {% assign wmFound = true %}
        <li>
          <article class="p-comment h-entry" id="{{ mention.wm-id }}">
            {% if mention.name %}
              <h3><a href="{{ mention.wm-source }}">{{ mention.name }}</a></h3>
            {% endif %}
            {% assign plaintext = '<p>' | append: mention.content.text | append: '</p>' %}
            <div class="e-content">{{ mention.content.html | default: plaintext }}</div>
            <footer>
              Mentioned by <cite class="h-card p-author"><a class="{% if mention.author.url %}u-url{% endif %} p-name" {% if mention.author.url %}href="{{ mention.author.url }}"{% endif %}>{{ mention.author.name }}</a></cite>
              {% assign pubdate = mention.published | split: 'T' %}
              on <a href="{{ mention.wm-source }}" class="u-url" ><time class="dt-published" datetime="{{ mention.published }}">{{ pubdate[0] }}</time></a>
              <a href="#comment-{{ mention.wm-id }}" rel="bookmark" title="Permalink to this comment">#</a>
            </footer>
          </article>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    {% if wmFound != true %}<p>No one yet. Add yours!</p>{% endif %}
  </div>
</aside>