<section class="webmentions" id="webmentions" aria-labelledby="webmentions-heading">
  <h2 id="webmentions-heading">Webmentions</h2>
  <p class="webmentions__learn"><a href="https://indieweb.org/Webmention">what's this? 🤨</a></p>
  <p class="webmentions__explainer">Have you linked to this page from your site? Submit your URL and it will appear below.</p>

  <form method="POST" action="{{ site.webmention-url }}" class="webmentions__submit">
    <input type="hidden" name="target" value="{{ site.url }}{{ page.url }}">
    <input type="url" name="source" placeholder="https://yoursite.com" required>
    <input type="submit" value="Mention">
    <div class="webmentions__message" aria-live="polite"></div>
  </form>

  <div class="webmentions__list">
    <h3>Mentioned by</h3>
    {% assign wmFound = false %}
    {% for mention in webmentions %}
      {%- if mention.wm-target contains page.url -%}
        {% assign wmFound = true %}
        <article class="p-comment h-entry" id="{{ mention.wm-id }}">
          {% if mention.name %}
            <h3><a href="{{ mention.wm-source }}">{{ mention.name }}</a></h3>
          {% endif %}
          {% assign plaintext = '<p>' | append: mention.content.text | append: '</p>' %}
          <div class="e-content">{{ mention.content.html | default: plaintext }}</div>
          <footer>
            Mentioned by <cite class="h-card p-author"><a class="{% if mention.author.url %}u-url{% endif %} p-name" {% if mention.author.url %}href="{{ mention.author.url }}"{% endif %}>{{ mention.author.name }}</a></cite>
            {% assign pubdate = mention.published | split: 'T' %}
            on <a href="{{ mention.wm-source }}" class="u-url" ><time class="dt-published" datetime="{{ mention.published }}">{{ pubdate[0] }}</time></a>
            <a href="#comment-{{ mention.wm-id }}" rel="bookmark" title="Permalink to this comment">#</a>
          </footer>
        </article>
      {% endif %}
    {% endfor %}
    {% if wmFound != true %}<p>No one yet. Add yours!</p>{% endif %}
  </div>
</section>