<aside class="work-cta __contact" aria-labelledby="work-cta__title">
  <h3 id="work-cta__title" class="title--badge">Hire me!</h3>
  <div class="work-cta__intro">
    <p>👋🏼 I'm a freelance web developer always looking for new projects.</p>
    <a href="/work/">Read about my work</a>
  </div>

{% comment %}
  <form class="stack" name="contact" action="/contact/thanks/" method="POST" data-netlify="true">
    <label for="c-email" class="required">Email</label>
    <input id="c-email" type="email" name="email" required placeholder="you@example.com">

    <label for="c-message" class="required">Message</label>
    <textarea id="c-message" name="message" placeholder="How can I help you? Tell me about the website." required></textarea>

    <div class="actions">
      <button type="submit">Send message</button>
      <button type="reset">Reset</button>
    </div>
  </form>
{% endcomment %}
</aside>