//
// Entry styles
//
// Generic page styles for entries of all types: travel, blog.
//
.entry--main {
  padding-bottom: 132px; // for the entry-meta

  .title--main {
    float: left;
    margin-right: 1em;
  }
  .subtitle {
    float: right;
    vertical-align: text-bottom;
  }

  .story {
    @extend .clearfix;
    margin-bottom: 1em;

    h1, h2, h3, h4, h5, h6 {
      clear: both;
    }
  }

  hr {
    clear: both;
    width: 50%;
    height: 3px;
    margin: 2em auto;
    border: 1px solid #000;
    border-width: 1px 0;
    position: relative;

    // Bigger screens
    @media (min-width: 600px) {
      width: 35%;
    }
    @media (min-width: 1100px) {
      width: 20%;
    }

    // Section symbol
    &::after {
      content: '§';
      background: white;
      padding: 0 .4em;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  small.caption {
    display: block;
    text-align: center;
  }

  .the-end {
    margin: 1.25em 0;
    padding: 0;
    font-size: 1.32em;
    text-align: center;

    &::after {
      content: ' × \00a0\00a0 × \00a0\00a0 ×';
      speak: none;
    }
  }
}
