//
// Global footer
//
footer[role="contentinfo"] {
  @extend .clearfix;
  clear: both;
  font-size: .8em;
  font-style: italic;
  font-weight: 200;
  padding: 1em;
  color: white;
  background: #111;
  //! height is set in _general.scss

  // Footer content
  section {
    @extend .clearfix;
    max-width: 860px;
    margin: 0 auto;
  }

  // my smug mug
  img.me {
    float: left;
    margin-right: 1.6em;
    border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
    transform: rotate(-2deg);

    // just for funsies
    animation: wobble 17s ease-in-out alternate infinite;

    @media (min-width: 400px) {
      width: 160px;
      height: auto;
    }
  }

  .p-role {
    padding: 1em;
    padding-right: 0;
  }

  .colophon {
    text-align: center;

    @media (min-width: 400px) {
      text-align: left;
    }

    a {
      opacity: .16;
      transition: opacity .25s ease-in-out;
      white-space: nowrap;
    }

    a:hover {
      opacity: .75;
    }
  }

  // Ensure links are readable regardless of state or browsing history.
  a {
    color: inherit;
  }
  a:visited {
    opacity: .666;
  }
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px / 350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px / 250px 750px 250px 750px;
    transform: rotate(2deg);
  }
}
