//
// Global footer
//
footer[role="contentinfo"] {
  @extend .clearfix;
  clear: both;
  font-size: .8em;
  font-style: italic;
  font-weight: 200;
  padding: 1em;
  color: white;
  background: #111;
  //! height is set in _general.scss

  // Footer content
  section {
    @extend .clearfix;
    max-width: 860px;
    margin: 0 auto;
  }

  // my smug mug
  img.me {
    float: left;
    margin-right: 1.6em;
    border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;

    // just for funsies
    animation: blobby 10s ease-in-out alternate infinite;

    @media (min-width: 400px) {
      // margin-top: -1.2em;
      width: 160px;
      height: auto;
    }
  }

  .p-role {
    padding: 1em;
    padding-right: 0;
  }

  .colophon {
    text-align: center;
    opacity: .25;
    transition: opacity .25s ease-in-out;
    white-space: nowrap;

    @media (min-width: 400px) {
      text-align: left;
    }
  }

  .colophon:hover {
    opacity: 1;
  }

  // Ensure links are readable regardless of state or browsing history.
  a {
    color: inherit;
  }
  a:visited {
    opacity: .666;
  }
}

@keyframes blobby {
  50% {
    border-radius: 750px 550px 350px 750px / 350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px / 250px 750px 250px 750px;
  }
}
