form {
  display: flex;
  flex-flow: column nowrap;
  gap: .2rem;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  font-size: calc(.6em + .7vw);
  background: #eee;
  padding: 2rem;
}

form * {
  font-family: inherit;
  font-size: inherit;
}

form label {

}

form input {
  border: 2px solid #ccc;
  margin-bottom: .8rem;
  padding: .25rem;
}

form textarea {
  border: 2px solid #ccc;
  margin-bottom: .8rem;
  padding: .25rem;
}

form .actions {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

form button {
  border: none;
  padding: .5rem;
  background: #ccc;
}

form button[type="submit"] {
  background: #333;
  color: #eee;
}
