//
// Front page
//
.page--front {
  .front-nav,
  #blog-list {
    margin-bottom: 4rem;
  }
}



.front-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0 -.5rem;
  }

  li {
    flex: 1 0 45%; // this should be 50% and I should be smarter.
    min-width: 120px;
    margin: 0 .5rem;
    padding: 0;
  }

  a {
    display: block;
    // height: 0;
    font-size: 1.2em;
    padding: 33% 0;
    margin-bottom: 1rem; // double the `li` margin L/R

    background: #ccc;
    border-radius: .5%;
    color: #333;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #fff;
    transition: background-position 1s ease-in-out;
    @include font-oswald;
  }

  .nav--work {
    padding: 16.666% 0;
  }
}

//
// Front-page blog tweaks
//
.page--front {
  #blog-list {
    font-size: .9em;
  }
}
