//
// Front page
//

.hello {
  @extend .summary;
}

.front-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    display: block;
    float: left;
    width: 49%;
    height: 0;
    padding-top: 20%;
    padding-bottom: 29%;
    margin-right: 1%;

    background: #f7f7f7;
    background-image: linear-gradient(to bottom, #fafafa, #bbb);
    border-radius: 2%;
    box-shadow: inset 0 0 62px rgba(#fff, 1), 0 0 1px 1px rgba(#333, .1);
    color: #333;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #fff;
    transition: background-position 1s ease-in-out;
    @include font-oswald;
  }

  a:hover {
    background: #ddd;
    text-shadow: -1px -1px 1px #fff;
  }
}
