//
// Front page
//
.front-nav {
  margin-bottom: 5em;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1%;
  }

  li {
    flex: 1 0 33.3333%;
    min-width: 120px;
    margin: 0 .5em;
    padding: 0;
  }

  a {
    display: block;
    // height: 0;
    padding: 33% 0;
    margin-bottom: 1em; // double the `li` margin L/R

    background: #ccc;
    border-radius: .5%;
    color: #333;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #fff;
    transition: background-position 1s ease-in-out;
    @include font-oswald;
  }
}
