//
// Photo gallery
//
.gallery {
  @extend .clearfix;
  margin: 1em 0;
  padding: 4%;
  background: #000;

  @media (min-width: 1100px) {
    width: 140%;
    margin-left: -20%;
  }

  // bottom caption
  figcaption {
    clear: both;
    padding-top: 1em;
    opacity: .6;
    color: #ddd;
    font-size: 80%;
    font-style: italic;
    text-align: center;

    @media (min-width: 1100px) {
      margin: 0 20%;
    }

    // There might be proper names inside captions. Don't let them break.
    em {
      white-space: nowrap;
    }
  }
}

//
// Gallery photos
//

.photo {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform .25s ease-in-out;
  z-index: 100;

  &.contain {
    background-size: contain;
  }

  // State: JS-enabled
  .js & {
    // cursor: zoom-in;
  }

  // State: JS-active
  &.expanded {
    // cursor: zoom-out;
    transform: scale(1.4);
  }
}

//
// LAYOUT: tall
//

.tall {

  // all photos
  .photo {
    float: left;
    width: 49%;
    padding-bottom: 33.333%;
    margin-bottom: 2%;
    margin-right: 0;
    margin-left: 2%;
  }

  // special treatment for first image
  .photo:first-of-type {
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 104%;
    background-position: 25% 0;
  }

  // first column underneath tall photo
  .photo:nth-of-type(5) {
    clear: left;
    margin-left: 0;
  }

  // last photo
  .photo:last-of-type:not(:nth-of-type(even)) {
    width: 100%;
    background-position: 0 25%;
  }

  //
  // wide photos
  //
  .photo.wide {
    float: none;
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-position: 0 calc(100% / 3);
  }

  // reset the clearing after the photo
  .photo.wide ~ .photo:nth-of-type(odd) {
    margin-left: 0;
  }
}


//
// LAYOUT: wide
//

.wide {

  // all photos
  .photo {
    float: left;
    width: calc(96% / 3); // 100 - 2% x 2 columns
    padding-bottom: calc(100% / 3);
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 0;
  }

  // special treatment for first image, or manual overrides
  .wide,
  .photo:first-of-type {
    float: none;
    clear: both;
    width: 100%;
    margin-right: 0;
    background-position: 0 calc(100% / 3);
  }

  .photo:first-of-type {
    margin-top: 0;
  }

  // last column of every row
  .photo:nth-of-type(3n+1) {
    margin-right: 0;
  }

  // tetris (when there are two photos in last row)
  .photo:nth-of-type(3n+2):nth-last-of-type(2),
  .photo:nth-of-type(3n+2):nth-last-of-type(2) ~ .photo {
    width: 49%;
    margin-right: 2%;
  }
  .photo:nth-of-type(3n+2):nth-last-of-type(2) ~ .photo {
    margin-right: 0;
  }

  // tetris (when there is one photo in last row)
  .photo:nth-of-type(3n+2):last-of-type {
    width: 100%;
    margin-right: 0;
    background-position: 0 25%;
  }
}
