//
// General styles
//
html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: calc(.8em + 1.2vw);

  @media (min-width: 600px) {
    font-size: calc(.8em + .8vw);
  }

  @media (min-width: 1000px) {
    font-size: calc(.8em + .5vw);
  }
}

body {
  overflow-x: hidden;
}

// Remove 300ms delay on focusable elements in a future version of Safari.
//
// @see https://adactio.com/journal/10019
a, button, input, select, textarea, label, summary {
  touch-action: manipulation;
}

main {
  max-width: 860px;
  margin: 0 auto;
  padding: 1em;
}

footer[role="contentinfo"] {
  clear: both;
  max-width: 860px;
  margin: 0 auto;
  font-size: .8em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  opacity: .666;
  font-style: italic;
}

img {
  max-width: 100%;
}


.title {
  @include font-oswald;

  .wf-loading & {
    letter-spacing: -3px;
  }
}

.subtitle {
  @include font-oswald;
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.5px;
  word-spacing: -1px;

  .wf-loading & {
    letter-spacing: -4px;
  }
}

.title--page {
  width: 70%;
  float: left;
}

.elsewhere {
  margin-top: 1.66em;
  width: 30%;
  float: right;
  font-weight: 300;
  @include font-oswald;
}

.intro {
  clear: both;
  opacity: .5;
  transition: opacity 2s ease-in-out;

  @include font-oswald;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 300;

  .wf-loading & {
    letter-spacing: -3px;
  }

  &:hover {
    opacity: 1;
  }

  // don't break names in intros
  em {
    white-space: nowrap;
  }
}

blockquote {
  font-style: italic;
  opacity: .8;
  padding: .1em 1em;
  margin: 0 .5em;
  background: rgba(#000, .1);

  @media (min-width: 600px) {
    margin: 0 1em 0 2em;
  }

}

.the-end {
  margin: 1.25em 0;
  padding: 0;
  font-size: 1.32em;
  text-align: center;

  &::after {
    content: ' × \00a0\00a0 × \00a0\00a0 ×';
    speak: none;
  }
}

footer a {
  color: inherit;
}
