//
// General styles
//

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: calc(.8em + 1.2vw);

  @media (min-width: 600px) {
    font-size: calc(.8em + .8vw);
  }

  @media (min-width: 1000px) {
    font-size: calc(.8em + .5vw);
  }
}

body {
  overflow-x: hidden;
}

main {
  max-width: 860px;
  margin: 0 auto;
  padding: 1em;
}

footer[role="contentinfo"] {
  max-width: 860px;
  margin: 0 auto;
  font-size: .8em;
  padding-bottom: 20em;
  text-align: center;
  opacity: .666;
  font-style: italic;
}

img {
  max-width: 100%;
}


.title {
  @include font-oswald;

  .alt {
    float: right;
    font-size: 80%;
    font-weight: 300;
  }

  .wf-loading & {
    letter-spacing: -3px;
  }
}

.subtitle {
  @include font-oswald;
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.5px;
  word-spacing: -1px;

  .wf-loading & {
    letter-spacing: -4px;
  }
}

.intro {
  clear: both;
  opacity: .5;
  transition: opacity 2s ease-in-out;

  @include font-oswald;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 300;

  .wf-loading & {
    letter-spacing: -3px;
  }

  &:hover {
    opacity: 1;
  }

  // don't break names in intros
  em {
    white-space: nowrap;
  }
}

.the-end {
  margin: 1.25em 0;
  padding: 0;
  font-size: 1.32em;
  text-align: center;

  &::after {
    content: ' × \00a0\00a0 × \00a0\00a0 ×';
    speak: none;
  }
}
