//
// General page styles
//

// Footer height might need adjusting from time to time based on content.
$footer-height: 256px;

//
// General styles
//
html, body {
  padding: 0;
  margin: 0;
  @include font-copy;
  font-size: calc(.9em + 1.2vw);

  @media (min-width: 600px) {
    font-size: calc(.9em + .9vw);
  }

  @media (min-width: 1000px) {
    font-size: calc(.9em + .5vw);
  }
}

body {
  overflow-x: hidden;
}

// Remove 300ms delay on focusable elements in a future version of Safari.
//
// @see https://adactio.com/journal/10019
a, button, input, select, textarea, label, summary {
  touch-action: manipulation;
}

main {
  max-width: 860px;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: 0 - $footer-height;
  padding: 1rem;

  &::after {
    content: '';
    display: block;
    height: $footer-height - 1px;
  }
}
