//
// Bottom nav for pages
//

.go {
  @extend .clearfix;
  clear: both;
  padding: 2em 0;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;

    .btn {
      flex-grow: 1;
      margin: 0 1em 1em;
    }

    .btn--next {
      order: 3;
      flex-grow: 2;
    }
    .btn--prev {
      order: 2;
      flex-grow: 2;
    }
    .btn--back {
      order: 3;
      flex-grow: 1;
    }
    .btn--load {
      order: 4; // show up AFTER "Back"
      flex-grow: 2;
    }
  }

  abbr {
    border-bottom: 0;
    cursor: inherit;
  }
}

.btn {
  display: block;
  text-align: center;

  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ddd;
  background: #eee;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  border-radius: 5px;
  color: #444;
  text-decoration: none;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;

  &:hover {
    background-image: linear-gradient(to bottom, #fff, #d5d5d5);
  }

  &:active,
  &:focus {
    background-image: linear-gradient(to top, #fff, #eee);
  }
}

.btn--next {
  &::before {
    content: '\02192 \00a0';
  }
}

.btn--prev {
  &::before {
    content: '\02190 \00a0';
  }
}

.btn--back {
  &::before {
    content: '\02191 \00a0';
  }
}

.btn--load {
  &::before {
    content: '\02193 \00a0';
  }
}

.btn--disabled {
  cursor: not-allowed;
  background-image: linear-gradient(to bottom, #eee, #ddd) !important;

  &::before {
    content: '\02297 \00a0';
  }
}
