//
// Page intros
//

.intro {
  clear: both;
  opacity: .5;
  transition: opacity 2s ease-in-out;

  @include font-heading;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -1.5px;

  &:hover {
    opacity: 1;
  }

  // don't break names in intros
  em {
    white-space: nowrap;
  }
}
