//
// Global links styles
//
main {
  // Clearly mark insecure outbound links within content.
  a[href^="http://"] {
    position: relative;
    margin-right: 4.75em;

    &::after {
      width: 5em;
      content: ' (⚠️ insecure)';
      font-weight: 300;
      white-space: nowrap;
      position: absolute;
      transform: translate(-.5em) scale(.75);
    }
  }
}

.link--external {
  background: #eee;
  border-radius: 5px;
  position: relative;
  overflow-x: hidden;
  margin-top: 1em;

  a {
    display: block;
    font-size: 1.1em;
    padding: 1em 1em 1em 3em;
  }

  &::before {
    content: '🔗 ';
    font-size: 1.6em;
    position: absolute;
    left: .75em;
    top: 50%;
    transform: translateY(-50%);
  }
}
