// Global links styles
.links {
  a {
    &::before {
      display: inline-block;
      padding-right: 4px;
      font-size: 1.1em;
      transform: translate(0, 3px);
    }
  }

  .type-rest::before {
    content: '\1f3e0';
  }
  .type-eat::before {
    content: '\1f374';
  }
  .type-drink::before {
    content: '\1f37b';
  }
  .type-camp::before {
    content: '\26fa';
  }
  .type-outdoors::before {
    content: '\1f304';
  }
  .type-water::before {
    content: '\01F6A3';
  }
  .type-inside::before {
    content: '\01F3B1';
  }
  .type-tool::before {
    content: '\01F527';
  }
}
