#offline {
  overflow: hidden;
  opacity: 0;
  height: 0;
  max-height: 0;
  transition: 1.5s ease-in-out;
  transition-property: max-height, opacity;

  &.is-active {
    opacity: 1;
    height: auto;
    max-height: 1000px;
  }

  a {
    text-transform: capitalize;
  }
}
