//
// Prism.js modifications for chrisruppel.com
//

// Reduce font-size of Prism blocks and make the <pre> tag a bit prettier.
pre[class*=language-] {
  font-size: .66em;
  border-radius: 7px;

  @media (min-width: 580px) {
    font-size: .8em;
  }
}

// Generic fenced code blocks not controlled by Prism.
//
// Often used for displaying logs, error messages, and other computer output
// that is not a specific programming language.
pre[class*=language-undefined],
code[class*=language-undefined],
pre[class*=language-wrap],
code[class*=language-wrap] {
  padding: .5em 1em;
  background: #ddd;
  text-shadow: none;
}
code[class*=language-undefined] {
  padding: 0;
}

pre[class*=language-wrap],
code[class*=language-wrap] {
  white-space: normal;
}
code[class*=language-wrap] {
  padding: 0;
}
