//
// Quotes
//

blockquote.quote {
  @include font-oswald;
  margin-bottom: 2em;
  opacity: .6;

  p {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: .5em;
  }
  cite {
    font-size: 0.9em;
  }
}
