//——————————————————————————————————————————————————————————————————————————————
// Search
//——————————————————————————————————————————————————————————————————————————————
input[name="search"] {
  width: 100%;
  border: 4px solid #aaa;
  border-radius: 3px;
  font-size: 1.25em;
}

input[name="search"]:focus {
  outline: none;
  border: 4px solid black;
}

.search__summary {
  font-size: .8em;
  margin-top: 0;
}
