//
// Syndication metadata
//
.syndication {
  display: block;
  margin: 0;
  padding: 0;
  font-size: .8em;

  li {
    display: inline-block;
  }

  .u-syndication {
    display: inline-block;
    padding-left: 1.5em;
    color: inherit;

    // icon defaults
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;

    &::before {
      content: 'View on ';
    }
  }

  .type-facebook {
    background-image: url('/svg/social-facebook.svg');
  }
  .type-twitter {
    background-image: url('/svg/social-twitter.svg');
  }
}
