//
// Lists of tagged content
//
.tag-list {
  clear: both;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  list-style: none;
  gap: .75rem;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    order: calc(0 - var(--tag-weight));
  }

  a {
    flex: 1 0 10%;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: max(calc(var(--tag-weight) / 10 * .666em), .666em);
    color: inherit;
    white-space: nowrap;
    word-spacing: -.6em;

    &::before {
      content: '#';
    }

    // When the last line only has a couple tags, push them all to the side
    // instead of spacing them out evenly.
    &:last-child {
      flex-basis: 50%;
    }
  }
}
