//
// Titles
//

.title {}

.title--main {
  @include font-heading;
  margin-block-end: 0.5rem;
}

.subtitle {
  @include font-copy;
  margin-block-end: 2rem;
  opacity: .8;
  letter-spacing: -0.5px;
}

.title--page {
  width: 70%;
  float: left;
}
