//
// Titles
//

.title {}

.title--main {
  @include font-heading;
}

.subtitle {
  @include font-copy;
  font-style: italic;
  font-weight: 300;
  opacity: .8;
  letter-spacing: -1px;
  word-spacing: -1px;
}

.title--page {
  width: 70%;
  float: left;
}
