//
// Travel
//

// styles for trips in the listing
.trip-list {
  perspective: 3000px; // very shallow perspective.

  .teaser {
    transform-style: preserve-3d;
  }

  .links {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }
}
