//
// Travel
//

.trip-list {
  .teaser {
    padding-bottom: 4em;
    animation: fade-in 1s ease-in-out;
  }

  .quote {
    padding-bottom: 0;
  }

  .trip-title {
    .title {
      margin-top: 0;
      margin-bottom: 4px;
      font-size: 1.32em;
      font-weight: 300;

      @media (min-width: 1000px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    a {
      font-weight: 400;
    }

    time {
      color: rgba(#000, .5);
    }
  }

  //
  // Sub-components
  //

  .title {
    @media (min-width: 1000px) {
      margin-left: -10%;
      margin-right: -10%;
    }
  }

  time {
    display: block;
    min-width: 175px;
    padding-right: 12px;
    font-style: italic;
    font-weight: 300;
    color: rgba(#000, .6);

    @media (min-width: 1000px) {
      display: inline-block;
      text-align: right;
    }
  }

  .summary {}
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
