//
// Travel
//

.trip-list,
.blog-list {
  //
  // Sub-components
  //

  .title {
    @media (min-width: 1000px) {
      margin-left: -10%;
      margin-right: -10%;
    }
  }

  time {
    display: block;
    min-width: 175px;
    padding-right: 12px;
    font-style: italic;
    font-weight: 300;
    color: rgba(#000, .6);

    @media (min-width: 1000px) {
      display: inline-block;
      text-align: right;
    }
  }

  .summary {}
}

