// Full trip
.trip {

  .story {
    @extend .clearfix;
    margin-bottom: 1em;
  }

  .links {
    padding: 1em;
    background: #eee;
    border-radius: 5px;

    @media (min-width: 1100px) {
      float: left;
      width: 50%;
      margin-right: 1em;
      margin-left: -15%;
    }

    p:first-of-type {
      margin-top: .5em;
    }
    ul:last-of-type {
      margin-bottom: .5em;
    }
  }
}
