//
// Global typography stuff
//
// See the page.html layout for the font import.
//

p {
  line-height: 1.4;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

abbr[lang] {
  font-style: italic;
}

// Defaults for Trip content
.story {

  // Spruce up the lists a bit.
  ul, ol {
    li {
      font-size: 95%;
      margin-right: 5%;
      margin-bottom: 1.5%;
    }
  }
}
