//
// Global typography stuff
//

@import '//fonts.googleapis.com/css?family=Oswald:400,300';

p {
  line-height: 1.36;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

abbr[lang] {
  font-style: italic;
}
