//
// Entry metadata: Unique ID
//

  label {
    font-size: 1em;
  }

  .uid {
    width: calc(100% - 4em);
    font-size: .9em;
    font-family: monospace;
    letter-spacing: -.75px;
    color: #555;
    background: #f9f9f9;
    border: 1px solid #f4f4f4;

    &:focus {
      background: #eee;
      border-color: #aaa;
    }
  }
