//
// Webmentions section
//
.webmentions {
  font-size: .9em;
  min-height: 2em;
  margin-bottom: 2em;
  position: relative;
}

.webmentions__loading {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

//
// Individual Webmention
//
.p-comment {
  // Webmention content
  .e-content {
    padding-left: 1em;
  }

  // Webmention meta
  footer {
    font-family: monospace;
    font-size: .8em;
    text-align: right;
    opacity: .9;

    position: relative;
    top: -.5em;  }
}
