//
// Work page
//

.clients {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  animation: fade-in 1s ease-in-out;
}

.client {
  flex: 1 0 33.3333%;
  min-width: 160px;
  min-height: 160px;
  margin: 0;
  padding: 0;
  text-align: center;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 70%;
}


.client--unocha {
  background-size: 45%;
}
