---
layout: default
title: Hire
permalink: /work/
bodyclass: page--work
---

<h1 class="title--main">Hire me!</h1>

<p>I specialize in <strong>frontend development</strong> and <strong>frontend performance</strong>. I'm a seasoned Drupal developer and have experience building frontends and design systems for sites of all sizes.</p>
<p>I've helped some big brands achieve their goals while producing sites that hold up to prime-time levels of traffic.</p>

<ul class="clients">
{% for client in collections.clients limit:6 %}
  <li class="client client--{{ client.data.class }}" style="background-image: url(/svg/work/logos/{{ client.data.src }})">
    <span class="element-invisible">{{ client.data.alt }}</span>
  </li>
{% endfor %}
</ul>

<p>However, I'm not only interested in bigger sites. Any site in need of frontend development is a job for me! Please contact me using the button below and we can start a conversation about your project.</p>
<p>Want more info right away? <a href="/work/services/">Read about my services.</a></p>

<div id="calendar" data-autoupdate="true">
  {% include 'calendar.html' %}
</div>

<br><br>

<div class="go">
  <a class="btn btn--mail" href="mailto:chris.ruppel@gmail.com?subject=[Work+Inquiry]+YOUR+NAME+HERE" target="_blank">Contact me</a>
  <a class="btn btn--back" href="/">Back to the Front</a>
</div>
