---
title: Hire
permalink: /work/
---

<h1 class="title--main">Hire me!</h1>

<h2 class="intro summary">Let me speed up your site</h2>

<p>I help organizations build faster, more stable websites. I specialize in consulting related to <strong>frontend performance</strong> and <strong>automated testing</strong>.</p>
<p>I've helped some big brands achieve their performance goals while producing sites that hold up to prime-time levels of traffic.</p>

<ul class="client-list">
{% for client in site.clients reversed %}
  <li class="client"><img width="179" height="179" src="/svg/work/logos/{{ client.src }}" alt="{{ client.alt }}"></li>
{% endfor %}
</ul>

<p>However, I'm not only interested in bigger sites. Any site in need of performance tuning is a job for me! Please contact me using the button below and we can start a conversation about your project.</p>
<p>Want more info right away? <a href="/work/services/">Read about my services.</a></p>

<h2 class="intro summary">I'm available for hire <strong>soon</strong></h2>

<ul class="availability">
{% for slot in site.categories.calendar reversed %}
  {% capture nowunix %}{{ 'now' | date: '%s' }}{% endcapture %}
  {% capture slottime %}{{ slot.date | date: '%s' }}{% endcapture %}
  {% if slottime < nowunix %}
    <li class="past-slot">{{ slot.date | date: '%b' }}<br></li>
  {% else if slottime > nowunix %}
    <li
      class="{{ slot.status }}-slot {% if slot.status != full %}available{% endif %}"
      title="{{ slot.date | date: '%b %Y' }}: {{ slot.status }}"
    >{{ slot.date | date: '%b' }}<br></li>
  {% endif %}
{% endfor %}
</ul>
<br><br>

{% comment %}
<!--
<p>At <a href="https://fourkitchens.com">Four Kitchens</a>, I helped improve clients' frontend performance. I was part of teams which helped many organizations including NBC Universal, Time Inc., Turner Broadcasting, ICANN, <em>The Economist</em>, and Stanford University.</p>
<p>I've written extensively about <a href="https://fourword.fourkitchens.com/blog/series/webperf-wednesday">frontend performance</a> and contributed to many open source tools in the space.</p>
-->

<h2 class="title--main">Showcase</h2>

<p>Here's a brief list of creations I'm proud of:</p>

<ul>
  <li><a href="http://www.bustashape.com">Bust A Shape</a>, enabling groups of people to co-create art on the web.</li>
  <li><a href="https://screensizes.org">Screensizes.org</a>, visualizes the diversity of screen sizes on the web.</li>
  <li><a href="https://rupl.github.io/unfold/">Unfolding the Box Model</a>, interactive guide to CSS 3D Transforms.</li>
  <li><a href="https://css3playground.com">CSS3Playground</a>, a demo site with novel applications of CSS.</li>
</ul>
{% endcomment %}

<div class="go">
  <a class="btn btn--mail" href="mailto:chris.ruppel@gmail.com?subject=[Work+Inquiry]+YOUR+NAME+HERE" target="_blank">Contact me</a>
  <a class="btn btn--back" href="/">Back to the Front</a>
</div>
