<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} {% if page.title != null %}&nbsp;💞 {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
    {% if page.map != false %}
      <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
      <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />
      <script>L.mapbox.accessToken = '{{ site.mapboxToken }}';</script>
    {% endif %}
  </head>
  <body>
    <main>
      {{ content }}
    </main>
    <script async src="/js/main.min.js"></script>
  </body>
</html>
