<!DOCTYPE html>
<html class="wf-loading">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} {% if page.title != null %}&nbsp;💞 {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="http://chrisruppel.com">
    <link rel="alternate" type="application/rss+xml" title="Chris' Travels" href="/travel.xml">

    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
    <script async src="/js/main.min.js"></script>
  </body>
</html>
