---
layout: page
og: true
tc: true
comments: true
---

<article class="trip">
  <header>
    <h1 class="title">{{ page.title }}</h1>
    <h2 class="subtitle"><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %d, %Y" }}</time> in {{ page.location }}</h2>
  </header>

  <aside class="intro summary">{{ page.summary }}</aside>

  <div class="story">
    {{ content }}
    <div class="the-end" aria-label="The End."></div>
  </div>

  {% if page.map.location && page.map.zoom %}
    {% include map.html %}
  {% endif %}

  {% if page.links != null %}
  <aside class="links">
    <h2 id="links" class="element-invisible">Links</h2>
      <p>Here are some nice stops in {{ page.location }}</p>
      <ul>
        {% for link in page.links %}
          <li><a class="type-{{ link.type }}" href="{{ link.href }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
  </aside>
  {% endif %}

  <div class="go">
    {% if page.next.url %}
      <a class="btn btn--next" href="{{ page.next.url }}" title="{{ page.next.title }}{% if page.next.location %} in {{ page.next.location }}{% endif %}">Next trip</a>
    {% endif %}
    <a class="btn btn--back" href="/travel/">Travel</a>
    {% if page.previous.url %}
      <a class="btn btn--prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}{% if page.previous.location %} in {{ page.previous.location }}{% endif %}">Prev trip</a>
    {% endif %}

    <a id="comments-link" class="btn btn--comments" href="http://chrisruppel.com{{ page.url }}#disqus_thread" onclick="return loadDisqus(event);">Loading comment count...</a>
  </div>

  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</article>
