---
layout: page
---

<article class="trip">
  <header>
    <h1 class="title">{{ page.title }}</h1>
    <h2 class="subtitle"><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %d, %Y" }}</time> in {{ page.location }}</h2>
  </header>

  <aside class="summary">{{ page.summary }}</aside>

  <div class="story">
    {{ content }}
    <div class="the-end" aria-label="The End."></div>
  </div>

  {% if page.map != null %}
    {% include map.html %}
  {% endif %}

  {% if page.links != null %}
  <aside class="links">
    <h2 id="links" class="element-invisible">Links</h2>
      <p>Here are some nice stops in {{ page.location }}</p>
      <ul>
        {% for link in page.links %}
          <li><a class="type-{{ link.type }}" href="{{ link.href }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
  </aside>
  {% endif %}

  <a class="back" href="/travel/">Back to Travel</a>
</article>
