---
layout: page
comments: true
---

<article class="h-entry entry--main {% if link %}h-as-reply{% endif %}">
  <header>
    <h1 class="title--main p-name">{{ title }}</h1>
  </header>
  <div class="subtitle">
    <time class="dt-published" datetime="{{ page.date | date: '%Y-%m-%d 12:00:00' }}">{{ page.date | date: '%b %-d, %Y' }}</time>
  </div>

  <aside class="intro summary p-summary">{{ summary }}</aside>

  <div class="e-content">
    {% if link %}
      <div class="link--external">
        <a class="u-in-reply-to" href="{{ link }}">{{ title }}</a>
      </div>
    {% endif %}

    {{ content | replace: '&lt;', '<' | replace: '&gt;', '>' | replace: '&quot;', '"' | replace: '&amp;', '&' | replace: '<pre><code>  <picture', '<picture' | replace: '</figure></code></pre>', '</figure>' }}
    <div class="the-end" aria-label="End of article."></div>
  </div>

  {% if page.links != null %}
  <aside class="links">
    <h2 id="links" class="element-invisible">Links</h2>
      <p>If you liked this article check these links out:</p>
      <ul>
        {% for link in page.links %}
          <li><a class="type-{{ link.type }}" href="{{ link.href }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
  </aside>
  {% endif %}

  <div class="go">
    {% comment %}
      My collection seems to be backwards according to 11ty so the variables and
      the eleventy filters do NOT match.
    {% endcomment %}
    {% assign previousPost = collections.blog | getNextCollectionItem: page %}
    {% assign nextPost = collections.blog | getPreviousCollectionItem: page %}

    {% if previousPost.url %}
      <a class="btn btn--prev" href="{{ previousPost.url }}" title="{{ previousPost.data.title }}">Previous post</a>
    {% endif %}
    <a class="btn btn--back" href="/blog/">Blog</a>
    {% if nextPost.url %}
      <a class="btn btn--next" href="{{ nextPost.url }}" title="{{ nextPost.data.title }}">Next post</a>
    {% endif %}
  </div>

  {% if comments %}
    {% include 'webmentions.html' %}
  {% endif %}

  {% include 'entry-meta.html' %}
</article>
