---
layout: page
comments: true
---

<article class="entry--main stack {% if link %}h-as-reply{% endif %}">
  <header>
    <h1 class="title--main p-name">{{ title }}</h1>
  </header>
  <div class="subtitle">
    <time class="dt-published" datetime="{{ page.date | date: '%Y-%m-%d 12:00:00' }}">{{ page.date | date: '%-d %b %Y' }}</time>
  </div>

  <aside class="intro summary p-summary" aria-label="Summary">{{ summary }}</aside>

  <div class="e-content stack">
    {% if link %}
      <div class="link--external">
        <a class="u-in-reply-to" href="{{ link }}">{{ title }}</a>
      </div>
    {% endif %}

    {{ content | replace: '&lt;', '<' | replace: '&gt;', '>' | replace: '&quot;', '"' | replace: '&amp;', '&' | replace: '<pre><code>  <picture', '<picture' | replace: '</figure></code></pre>', '</figure>' }}

    {% if work-cta != nil %}
      <br>
      {% include 'work-cta.html' %}
    {% endif %}

    <div class="the-end">
      <span class="visually-hidden">End of post.</span>
      <span aria-hidden="true">× × ×</span>
    </div>
  </div>

  <div class="go">
    {% comment %}
      My collection seems to be backwards according to 11ty so the variables and
      the eleventy filters do NOT match.
    {% endcomment %}
    {% assign previousPost = collections.blog | getNextCollectionItem: page %}
    {% assign nextPost = collections.blog | getPreviousCollectionItem: page %}

    {% if previousPost.url %}
      <a class="btn btn--prev" href="{{ previousPost.url }}" title="{{ previousPost.data.title }}">Prev<span class="visually-hidden">ious post</span></a>
    {% endif %}
    <a class="btn btn--back" href="/blog/">Blog</a>
    {% if nextPost.url %}
      <a class="btn btn--next" href="{{ nextPost.url }}" title="{{ nextPost.data.title }}">Next<span class="visually-hidden"> post</span></a>
    {% endif %}
  </div>

  {% if comments %}
    {% include 'webmentions.html' %}
  {% endif %}

  {% include 'entry-meta.html' %}
</article>
