{% capture title %}
{% if title %}{{ title }}{% endif %}
{% if location %} {% include 'location.html' %}{% endif %}
{% if category == 'travel' %} 🌍 {% endif %}
{% if tag %}#{{ tag | replace: ' ','' | downcase }} {% endif %}
{% if category == 'blog' %} — {% endif %}
{% endcapture %}
<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{{ title | strip_newlines }} {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Personal website of Chris Ruppel, frontend developer.">
    <link rel="home" href="{{ site.url }}">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="192x192" href="/static/chris-ruppel-2015-noborder@192x192.png">

    <!-- indieweb sign-in -->
    <link rel="me" href="{{ site.url }}">
    <link rel="me" href="https://rupl.github.io">
    <link rel="me" href="https://github.com/rupl">
    <link rel="me" href="https://keybase.io/rupl">
    <link rel="me" href="https://twitter.com/rupl">
    <link rel="me" href="https://coil.com/u/rupl">
    <link rel="pgpkey" href="/pgp.pub">

    <!-- webmention endpoint -->
    <link rel="webmention" href="{{ webmention-url }}" />

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Chris' Travels" href="{{ site.url }}/travel.xml">
    <link rel="alternate" type="application/rss+xml" title="Chris' Blog" href="{{ site.url }}/blog.xml">

    <!-- Web Monetization -->
    <meta name="monetization" content="$ilp.uphold.com/BGG9gLz6k9z9">

    <!-- Preload CSS/Fonts -->
    <link rel="preload" href="https://fonts.gstatic.com/s/portlligatslab/v8/LDIpaoiQNgArA8kR7ulhZ8P_NYOsg70R9gOIifM.woff2" as="font" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/ptsansnarrow/v11/BngRUXNadjH0qYEzV7ab-oWlsbCLwR2oefDofMY.woff2" as="font" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Port+Lligat+Slab&display=swap">

    <!-- Performance-related tags -->
  {% if site.img-host != '' %}
    <link rel="preconnect" href="{{ site.img-host }}">
  {% endif %}

  {% if meta != null %}
    <!-- Social tags -->
    <meta name="twitter:dnt" content="on">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@rupl">
    <meta name="twitter:creator" content="@rupl">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ url }}">
    <meta property="og:title" content="{{ title | escape | strip_newlines }}{% if location %} {% include 'location.html' %}{% endif %}">
    <meta property="og:description" content="{% if summary %}{{ summary | strip_html | strip_newlines | escape }}{% else %}{{ content | truncatewords: 44, '...' | strip_html | escape }}{% endif %}">
    <meta property="og:image" content="{{ site.img-host }}/img/travel/{% if gallery[0].src %}{{ gallery[0].src }}{% else %}{{ gallery[1].src }}{% endif %}">
  {% endif %}

  {% if site.development == false %}
    <style type="text/css">{% include main.min.css %}</style>
  {% else %}
    <!-- load using <link> on local so I can inject new styles -->
    <link rel="stylesheet" href="/css/main.min.css" type="text/css">
  {% endif %}

    <script>
      // JS is able to start executing.
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');

      // Tell CSS if we're definitely offline.
      if (!navigator.onLine) {
        document.documentElement.classList.add('is--offline');
      }
    </script>
  </head>
  <body class="{{ bodyclass }}">
    <main>
      {{ content }}
    </main>
    <footer role="contentinfo" class="h-card vcard">
      <section>
        <img alt="my face" class="me u-photo"
          width="120" height="120"
          loading="lazy" lazyload="1"
          src="/static/chris-ruppel-2015@384x384.jpg"
          srcset="/static/chris-ruppel-2015@512x512.jpg 2x">

        <p class="p-role p-note">
          Hello, I'm <a rel="author me" class="p-name fn u-url" href="{{ site.url }}">Chris Ruppel</a>,
          a frontend <span class="p-category">developer</span>, digital <span class="p-category">artist</span>, and world <span class="p-category">traveler</span>
          last seen {% include 'last-seen.html', prep: 'around' %}. <a href="{{ site.url }}/work/">Hire me!</a><br>
        </p>
        <p class="colophon">
          <a href="{{ site.license-url }}">&#169; {{'now' | date: '%Y'}} Chris Ruppel</a> —
          <a href="{{ site.feedback-url }}">Got feedback?</a>
        </p>
      </section>
    </footer>

    <div id="status" role="alert" aria-live="assertive">
      <p id="message"></p>
      <button class="dismiss"><span class="element-invisible">Close this message</span></button>
    </div>

    <script async defer src="/js/main.min.js"></script>
    {% if photosphere %}<script async defer src="/js/photosphere.min.js"></script>{% endif %}
    {% if js %}<script async defer src="/js/{{ js }}"></script>{% endif %}
  </body>
</html>
