{%- capture title %}
{% if title %}{{ title }}{% endif %}
{% if location %}{% include 'location.html' %}{% endif %}
{% if category == 'travel' %} 🌍 {% endif %}
{% if tag %}#{{ tag | replace: ' ','' | downcase }} {% endif %}
{% endcapture -%}
<!DOCTYPE html>
<html class="no-js" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title | strip_newlines }} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Personal website of Chris Ruppel.">
    <link rel="home" href="{{ site.url }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="192x192" href="/static/chris-ruppel-2015-noborder@192x192.png">

    <!-- indieweb sign-in -->
    <link rel="me" href="{{ site.url }}">
    <link rel="me" href="https://rupl.github.io">
    <link rel="me authn" href="https://github.com/rupl">
    <link rel="me" href="https://mastodon.social/@rupl">
    <link rel="me" href="https://pixelfed.social/@rupl">
    <link rel="pgpkey" href="/pgp.pub">

    <!-- webmention endpoint -->
    <link rel="webmention" href="{{ webmention-url }}" />

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Chris' Travels" href="{{ site.url }}/travel.xml">
    <link rel="alternate" type="application/rss+xml" title="Chris' Blog" href="{{ site.url }}/blog.xml">

    <!-- Web Monetization -->
    <meta name="monetization" content="$chrisruppel.com">

    <!-- Preconnect Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Port+Lligat+Slab&family=Fira+Code&display=swap" onload="this.rel='stylesheet'">

  {% if site.img-host != '' %}
    <!-- Warm up the CDN connection -->
    <link rel="preconnect" href="{{ site.img-host }}">
  {% endif %}

  {% if meta != null %}
    <!-- Social tags -->
    <meta property="og:site_name" content="Chris Ruppel">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{{ title | escape | strip_newlines }}">
    <meta property="og:description" content="{% if summary %}{{ summary | strip_html | strip_newlines | escape }}{% else %}{{ content | truncatewords: 44, '...' | strip_html | escape }}{% endif %}">
    {% capture social_filename %}{%- if gallery[0].src %}{{ gallery[0].src | split: '.' | first }}{% else %}{{ gallery[1].src | split: '.' | first }}{% endif -%}{% endcapture -%}
    {% if social_filename != '' %}<meta property="og:image" content="{{ site.img-host }}/img/img@640/{{ social_filename }}.jpeg">{% endif %}
    <meta property="fediverse:creator" content="@rupl@mastodon.social" />
  {% endif %}

    <!-- main site styles -->
    <link rel="stylesheet" href="/css/index.css" type="text/css">

    <script>
      // JS is able to start executing.
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');

      // Tell CSS if we're definitely offline.
      if (!navigator.onLine) {
        document.documentElement.classList.add('is--offline');
      }
    </script>
  </head>
  <body class="h-entry {{ bodyclass }}">
    <div class="layout">
      <main id="main" aria-label="Content">
        {{ content }}
      </main>
      {% include 'site-footer.html' %}
    </div>

    <div id="status" role="status">
      <p id="message"></p>
    </div>

    <script defer src="/js/main.min.js"></script>
    {% if photosphere %}<script async defer src="/js/photosphere.min.js"></script>{% endif %}
    {% if js %}<script async defer src="/js/{{ js }}"></script>{% endif %}
  </body>
</html>
