---
layout: page
---

<article class="entry--main entry--trip" id="{{ path | replace: 'travel/_posts/','' | replace: '.md','' }}">
  <header>
    <h1 class="title--main p-name">{{ title }}</h1>
  </header>
  <div class="subtitle">
    <time class="dt-published" datetime="{{ page.date | date: '%Y-%m-%d 12:00:00' }}">{{ page.date | date: '%b %-d, %Y' }}</time>
    {% if location %}
      <span class="where p-location h-adr">
        {% include 'location-microformat.html' %}
      </span>
    {% endif %}
  </div>

  <aside class="intro summary p-summary">{{ summary }}</aside>

  <div class="story e-content">
    {{ content | replace: '&lt;', '<' | replace: '&gt;', '>' | replace: '&quot;', '"' | replace: '&amp;', '&' | replace: '<pre><code>', '' | replace: '</code></pre>', '' }}
    <div class="the-end" aria-label="The End."></div>
  </div>

  <div class="go">
    {% comment %}
      My collection seems to be backwards according to 11ty so the variables and
      the eleventy filters do NOT match.
    {% endcomment %}
    {% assign previousPost = collections.travel | getNextCollectionItem: page %}
    {% assign nextPost = collections.travel | getPreviousCollectionItem: page %}

    {% if previousPost.url %}
      <a class="btn btn--prev" href="{{ previousPost.url }}" title="{{ previousPost.data.title }}">Previous post</a>
    {% endif %}
    <a class="btn btn--back" href="/travel/">Travel</a>
    {% if nextPost.url %}
      <a class="btn btn--next" href="{{ nextPost.url }}" title="{{ nextPost.data.title }}">Next post</a>
    {% endif %}
  </div>

  {% if comments %}
    {% include 'webmentions.html' %}
  {% endif %}

  {% include 'entry-meta.html' %}
</article>
